<header class="header_1 js_header_1">
  <div class="header_1__inner">
    <p class="header_1__logo">
      <a href="/">サイトロゴ</a>
    </p>

    <button type="button" class="header_1__trigger js_header_1_trigger" aria-expanded="false" aria-controls="js-gnav-body" aria-label="メニューを開く">
      <span class="header_1__trigger-bar"></span>
      <span class="header_1__trigger-bar"></span>
      <span class="header_1__trigger-bar"></span>
    </button>

    <nav class="gnav_1 js_gnav_1" id="js-gnav-body" aria-label="グローバルナビゲーション">
      <ul class="gnav_1__list">

        <li class="gnav_1__item gnav_1__item--mega js_gnav_1_item_mega">
          <a href="/service/" class="gnav_1__link js_gnav_1_link" aria-haspopup="true" aria-expanded="false" aria-controls="js-mega-service">
            サービス
          </a>
          <button type="button" class="gnav_1__toggle js_gnav_1_toggle" aria-expanded="false" aria-controls="js-mega-service" aria-label="サービスのサブメニューを開く"></button>

          <div class="megamenu_1" id="js-mega-service">
            <div class="megamenu_1__inner">
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しA</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例1</a></li>
                  <li><a href="#">メニュー例2</a></li>
                  <li><a href="#">メニュー例3</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しB</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例4</a></li>
                  <li><a href="#">メニュー例5</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col megamenu_1__col--banner">
                <a href="#" class="megamenu_1__banner">
                  <img src="/img/gnav-banner.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="gnav_1__item gnav_1__item--mega js_gnav_1_item_mega">
          <a href="/about/" class="gnav_1__link js_gnav_1_link" aria-haspopup="true" aria-expanded="false" aria-controls="js-mega-about">
            会社概要
          </a>
          <button type="button" class="gnav_1__toggle js_gnav_1_toggle" aria-expanded="false" aria-controls="js-mega-about" aria-label="会社概要のサブメニューを開く"></button>

          <div class="megamenu_1" id="js-mega-about">
            <div class="megamenu_1__inner">
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しC</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例6</a></li>
                  <li><a href="#">メニュー例7</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しD</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例8</a></li>
                  <li><a href="#">メニュー例9</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="gnav_1__item gnav_1__item--mega js_gnav_1_item_mega">
          <a href="/works/" class="gnav_1__link js_gnav_1_link" aria-haspopup="true" aria-expanded="false" aria-controls="js-mega-works">
            実績
          </a>
          <button type="button" class="gnav_1__toggle js_gnav_1_toggle" aria-expanded="false" aria-controls="js-mega-works" aria-label="実績のサブメニューを開く"></button>

          <div class="megamenu_1" id="js-mega-works">
            <div class="megamenu_1__inner">
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しE</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例10</a></li>
                  <li><a href="#">メニュー例11</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しF</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例12</a></li>
                  <li><a href="#">メニュー例13</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="gnav_1__item gnav_1__item--mega js_gnav_1_item_mega">
          <a href="/recruit/" class="gnav_1__link js_gnav_1_link" aria-haspopup="true" aria-expanded="false" aria-controls="js-mega-recruit">
            採用情報
          </a>
          <button type="button" class="gnav_1__toggle js_gnav_1_toggle" aria-expanded="false" aria-controls="js-mega-recruit" aria-label="採用情報のサブメニューを開く"></button>

          <div class="megamenu_1" id="js-mega-recruit">
            <div class="megamenu_1__inner">
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しG</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例14</a></li>
                  <li><a href="#">メニュー例15</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しH</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例16</a></li>
                  <li><a href="#">メニュー例17</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="gnav_1__item gnav_1__item--mega js_gnav_1_item_mega">
          <a href="/contact/" class="gnav_1__link js_gnav_1_link" aria-haspopup="true" aria-expanded="false" aria-controls="js-mega-contact">
            お問い合わせ
          </a>
          <button type="button" class="gnav_1__toggle js_gnav_1_toggle" aria-expanded="false" aria-controls="js-mega-contact" aria-label="お問い合わせのサブメニューを開く"></button>

          <div class="megamenu_1" id="js-mega-contact">
            <div class="megamenu_1__inner">
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しI</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例18</a></li>
                  <li><a href="#">メニュー例19</a></li>
                </ul>
              </div>
              <div class="megamenu_1__col">
                <p class="megamenu_1__heading">見出しJ</p>
                <ul class="megamenu_1__list">
                  <li><a href="#">メニュー例20</a></li>
                  <li><a href="#">メニュー例21</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </nav>
  </div>
</header>
