$gothic: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;

$mincho: "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", 'Noto Serif JP', YuMincho, "游明朝体", "Yu Mincho", "游明朝", serif;

$mincho--bold: "Hiragino Mincho ProN W6", $mincho;


$breakpoint1: 767px;


$color1: #36e8ff;


$padding--pc: 40px;
