@use "sass:math";
@use "sass:map";
@use "../../../../assets/css/tool" as *;
@use "../tool" as samples;

/*
## .megamenu_1
使用箇所：グローバルヘッダー
内容：
関連：.nav_1
*/

.megamenu_1 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 29px 0;
  color: #fff;
  box-sizing: border-box;
  z-index: 1;
  .header_1 & {
    margin-top: -6px;
  }
  @include pc {
    .nav_1 li.is_megamenu:hover &,
    .nav_1 li.is_megamenu:focus-within & {
      display: block;
    }
  }
  .nav_1 > ul > li:hover &,
  .nav_1 > ul > li:focus & {
    display: block;
  }
  @include sp {
    .nav_1 & {
      display: none;
      position: static;
      width: auto;
      margin: 0;
      padding: 1em 0;
    }
    .nav_1 li.is_open > & {
      display: block;
    }
  }
  &__inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 $padding1--pc;
    @include sp {
      padding: 0 1em;
    }
  }
  @each $content, $props in samples.$contents {
    $color: map.get($props, color);
    $textColor: map.get($props, textcolor);
    .is_#{$content} & {
      background-color: $color;
      @if $textColor {
        color: $textColor;
      }
    }
  }
}
