@use "sass:math";
@use "sass:map";
@use "../../../../assets/css/tool" as *;
@use "../tool" as samples;

/*
## .megamenu_1
使用箇所：グローバルヘッダー
内容：
*/

.megamenu_1 {
  display: none;

  // display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 29px 0;
  color: #fff;
  box-sizing: border-box;
  z-index: 1;
  .nav_4 > ul > li:hover &,
  .nav_4 > ul > li:focus &,
  .nav_1 > ul > li:hover &,
  .nav_1 > ul > li:focus & {
    display: block;
  }
  @media (max-width: $breakpoint1) {
    .nav_4 & {
      display: none !important;
    }
  }
  .header_1 & {
    margin-top: -6px;
  }
  &__inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 $padding1--pc;
  }
  @each $content, $props in samples.$contents {
    $color: map.get($props, color);
    $textColor: map.get($props, textcolor);
    .is_#{$content} & {
      background-color: $color;
      @if $textColor {
        color: $textColor;
      }
    }
  }
}
