
@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*
## .carousel_2
使用箇所：
内容：
*/
.carousel_2 {
  width: 300px;
  margin: 0 auto;
  border: solid 4px green;
}
.carousel_2 .slick-slide p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 50px;
  background: #ddd;
  border: solid 10px #333;
  box-sizing: border-box;
}
.carousel_2 .slick-list {
  overflow: visible;
}
.carousel_2 .slick-center p {
  border-color: red;
}
.carousel_2 .slick-prev:before, .carousel_2 .slick-next:before {
  color: black;
}

/*
## .carousel_1
使用箇所：
内容：
*/
.carousel_1 {
  position: relative;
  width: clamp(900px, 75vw, 1080px);
  margin: 0 auto;
  box-sizing: border-box;
}
.carousel_1__arrow {
  display: block;
  position: absolute;
  top: clamp(130px, 10.83vw, 156px);
  width: 97px;
  height: 100px;
  background: #000;
  cursor: pointer;
  transition: opacity 0.5s;
}
.carousel_1__arrow:hover {
  opacity: 0.7;
}
.carousel_1__arrow.is_next {
  right: 0;
  background-position: 100% 0;
}
.carousel_1__arrow.is_prev {
  left: 0;
}
.carousel_1__list {
  overflow: hidden;
  width: clamp(743px, 61.94vw, 892px);
  margin: 0 auto;
}
#carousel-1-1:checked ~ .carousel_1__list .carousel_1__track {
  transform: translateX(clamp(0px, 0vw, 0px));
}
#carousel-1-2:checked ~ .carousel_1__list .carousel_1__track {
  transform: translateX(clamp(-892px, -61.94vw, -743px));
}
#carousel-1-3:checked ~ .carousel_1__list .carousel_1__track {
  transform: translateX(clamp(-1784px, -123.89vw, -1487px));
}
.carousel_1__track {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.carousel_1__slide {
  width: clamp(743px, 61.94vw, 892px);
  font-size: 508px;
  line-height: 1;
  text-align: center;
}
.carousel_1__dots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carousel_1__dots li + li {
  margin-left: clamp(16px, 1.32vw, 19px);
}
.carousel_1__dots label {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  background: #c9c366;
  border: solid clamp(5px, 0.42vw, 6px) #a19915;
  border-radius: clamp(3px, 0.21vw, 3px);
  transform: rotate(45deg) skew(20deg, 20deg);
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.5s;
}
.carousel_1__dots label:hover {
  opacity: 0.7;
}
.section_2__h1 + .carousel_1 {
  margin-top: clamp(24px, 2.01vw, 29px);
}

#carousel-1-3:checked ~ .carousel_1__dots [for=carousel-1-3],
#carousel-1-2:checked ~ .carousel_1__dots [for=carousel-1-2],
#carousel-1-1:checked ~ .carousel_1__dots [for=carousel-1-1] {
  background-color: #fc008c;
}

@media (max-width: 767px){
  .section_2__h1 + .carousel_1 {
    margin-top: 0;
  }
}
