<header class="header_2">
  <div class="header_2__inner">
    <p class="header_2__logo">
      <a href="/">サイト名</a>
    </p>
    <div class="header_2__utility">
      <ul class="header_2__utility__list">
        <li class="header_2__utility__list__item header_2__utility__list__item--feature">
          <a href="#">特設サイトへ</a>
        </li>
        <li class="header_2__utility__list__item"><a href="#">English</a></li>
        <li class="header_2__utility__list__item"><a href="#">お問い合わせ</a></li>
      </ul>
    </div><!-- /.header_2__utility -->
    <div class="header_2__textsize">
      <p class="header_2__textsize__label">テキストサイズ</p>
      <ul class="header_2__textsize__list">
        <li class="header_2__textsize__btn is_on" tabindex="0">標準</li>
        <li class="header_2__textsize__btn" tabindex="0">大</li>
      </ul>
    </div><!-- /.header_2__textsize -->
    <div class="header_2__search">
      <button type="button" class="header_2__search__icon" aria-expanded="false" aria-controls="header_2_search_box" aria-label="検索を開く"></button>
      <div class="header_2__search__box" id="header_2_search_box">
        <form action="#" class="header_2__search__form">
          <input type="text" name="q" class="header_2__search__input" placeholder="検索キーワード">
          <button type="submit" class="header_2__search__submit">検索</button>
        </form>
      </div><!-- /.header_2__search__box -->
    </div><!-- /.header_2__search -->
  </div><!-- /.header_2__inner -->
  <%- include("nav_1") %>
</header><!-- /.header_2 -->
