@charset "UTF-8";
html {
  height: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  font: 14px/1.4 "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; }

hr {
  display: none; }

img {
  vertical-align: top; }

/*
## .input_1
*/
.input_1 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*
## .placeholder_2
*/
.placeholder_2 {
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .placeholder_2 .placeholder {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #aaa;
    font-weight: normal;
    box-sizing: border-box; }
  .placeholder_2 textarea {
    position: relative;
    margin: 0;
    background-color: transparent;
    vertical-align: top; }

/*
## .placeholder_1
*/
textarea.placeholder_1.is_placeholder {
  color: #aaa; }

/*
## .g_header_1
*/
/*
## .g_footer_1
*/
/*
## .g_nav_1
*/
/*
## .l_wrapper_1
*/
/*
## .l_container_1
*/
.is_none {
  display: none !important; }
