@use "sass:math";

$red1: #d72831;
$blue1: #006edd;
$blue2: #001f5d;
$blue3: #0064d3;
$yellow1: #f5d86e;

$admin-bar_height: (
  pc: 32px,
  sp: 46px
);
$contents: (
  hoge1: (
    color: #481610,
    items: ('hoge', 'fuga', 'piyo'),
  ),
  hoge2: (
    color: #f7d26d,
  ),
  hoge3: (
    color: #a799C5,
    items: ('hoge', 'fuga', 'piyo'),
  ),
  hoge4: (
    color: #7adceb,
    textColor: #333,
    items: ('hoge', 'fuga', 'piyo'),
  ),
  hoge5: (
    color: $blue3,
    items: ('hoge', 'fuga', 'piyo'),
  )
);
