@use "sass:math";

$red1: #d72831;
$blue1: #006edd;
$blue2: #001f5d;
$blue3: #0064d3;
$yellow1: #f5d86e;

$admin-bar_height: (
  pc: 32px,
  sp: 46px
);

$contents: (
  about: (
    color: #481610,
    items: ('greetings', 'future', 'students', 'entrepreneur', 'new-entrepreneur', 'support'),
  ),
  message: (
    color: #f7d26d,
  ),
  profile: (
    color: #a799C5,
    items: ('philosophy', 'history', 'organization', 'projects', 'access', 'aoi', 'rules', 'accountantreport', 'privacypolicy', 'what-is-personal-data-for'),
  ),
  scholarship: (
    color: #7adceb,
    textColor: #333,
    items: ('about', 'recruitment-requirements', 'policy', 'examples'),
  ),
  socialbusiness: (
    color: $blue3,
    items: ('about', 'concept', 'recruitment-requirements', 'policy', 'award-winners'),
  )
);
