@use "sass:math";
@use "../assets/css/tool" as *;


.header_1 {
  height: 50vh;
  background: #ddd;
}

.footer_1 {
  height: 50vh;
  background: #ddd;
}

.c_wrapper_1 {
  position: relative;
  background-color: #eee;
}

.c_article_1 {
  position: relative;
  height: 240vh;
  &.is_1 {
    background-color: red;
  }
  &.is_2 {
    background-color: green;
  }
  &.is_3 {
    background-color: blue;
  }
  &.is_4 {
    background-color: orange;
  }
}

.c_video_1 {
  position: sticky;
  top: 0;
  height: 100vh;
  border: solid 10px black;
  box-sizing: border-box;
  &__1 {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__2 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  video {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
  }
}

.c_section_1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0,0,0,.8);
  &__1 {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em;
    box-sizing: border-box;
    > p {
      margin-top: 1em;
    }
  }
  &__h1 {
    margin-bottom: 1em;
    font-size: 24px;
  }
}

.c_video_2 {
  position: relative;
  aspect-ratio: 16 / 9;
  iframe {
    width: 100%;
    height: 100%;
  }
}
